*{
    box-sizing: border-box;
}


.card{
    display: flex;
    align-items: center;
    width: 75vw;
    max-width: 650px;
    padding: 50px 30px 50px 20px;
    background: #ffff;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.card img{
    max-width: 280px;
    width: 28vw;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}

.card h3{
    color: rgb(0 0 0 / 90%);
}
.card p{
    color: rgb(0 0 0 / 90%);
}
.card button{
    border: 0;
    background: #5448de;
    color: #f8f8f8;
    font-family: 'Courier New', Courier, monospace;
    padding: 16px 26px;
    font-size: 16px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

@media (width <= 740px) {
    .card{
        flex-direction: column;
        text-align: center;
        margin: 0 40px;
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
    }
    .card img{
        margin: -100px 0 30px 0;
        width: 100%;
        max-width: 1000px;
    }
}